STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MOLLIE_API_KEY=test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SENDCLOUD_PUBLIC_KEY=VOTRE_CLE_PUBLIQUE_SENDCLOUD
SENDCLOUD_SECRET_KEY=VOTRE_CLE_SECRETE_SENDCLOUD
NUXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM=Maison JLA <commandes@votre-domaine.fr>
RETRACTATION_TO=maisonjla@outlook.com
