STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MOLLIE_API_KEY=test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MONDIAL_RELAY_BRAND_CODE=VOTRE_CODE_ENSEIGNE
MONDIAL_RELAY_PRIVATE_KEY=VOTRE_CLE_PRIVEE
NUXT_PUBLIC_SITE_URL=http://localhost:3000
